html {
    background: url(background.PNG) no-repeat center center fixed; /*Set the image as background*/
    background-size: cover;
    position: relative;
    text-align: center; /*Of the whole website*/
    height: 100%;
}

img { /* All the images including the logo images, images on home page and images that i have use as titles */
    padding: 1px;
    border: 2px;
    width: 310px;
    height: auto;
    margin: auto;
    align-content: center;
}

.Button { /*Generally all the buttons in the app*/
    width: 200px;
    padding: 2px;

}



.ButtonImg{ /*Design on images in the buttons of landing page*/
    padding: 1px;
    width: auto;
    height: 30px;
    margin: auto;
}

.LogInImg{ /* Image of username in Landing page */
    padding: 5px;
    padding-top: 8px;
    width: auto;
    height: 35px;
    margin: auto;
}


/*----------------- S O C I A L   M E D I A -------------------*/

.fa { /* Style all fonts */
    padding: 20px;
    font-size: 20px;
    width: 40px;
    text-align: center;
    text-decoration: none;
}

.fa:hover { /* Add a hover effect */
    opacity: 0.7;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}


.fa-google {
    background: red ;
    color: white;
}
/* ----------------------------------------*/


.ResizeTextBox { /*Text box in the Landing Page*/
    background: transparent;
    border: none;
    border-bottom: 3px solid ;
    border-color: Sienna;


}

.HelpParagraph { /*Design of paragraph in Help page*/
    font-size: large;
    font-weight: bold;
    background-color: khaki;
    border: solid 3px;
    border-color: sienna;
    padding: 5px;
}

.ParagraphPickPage{ /*Design of paragraph in Pick a treasure page*/
    font-size: large;
    font-weight: bold;
    background-color: khaki;
    border: double 3px;
    border-color: black;
    padding: 5px;

}


.ListDesign{
    font-size: large;
    font-weight: bold;
    background-color : khaki;
    border: double 3px;
    border-color: black;
    padding: 5px;

}

.LeaderboardBackground{
    font-size: large;
    font-weight: bold;
    background-color : khaki;
    border: double 3px;
    border-color: black;
    padding: 5px;
}
.AnswerSheetBackground\" /* dDesign the background behind the Questions*/
{
    font-size: large;
    font-weight: bold;
    background-color : khaki;
    border: double 3px;
    border-color: black;
    padding: 5px;
}

/*-------Design for QR Code-----------*/
#content{
    margin: 20px;
    padding: 20px;
    background-color: khaki;
    border: solid black 2px;
    color: black;
    text-align: center;
}
#preview{
    border: solid black 2px;
}
/*-----------------------------------*/

.TestingDesign
{
    background-color : khaki;
    border: double 3px;
    border-color: black;
    padding: 5px;
}

.AnswerSheetImage
{
    width: 200px;
    height: auto;
}
/*--------------Design for testing page--------------*/
h2,h3, h4{
    text-decoration: underline;
}

table{
    border: double black 3px;
    background-color: khaki;
}
td{
    border-right: solid black 2px;
    border-bottom: solid black 2px;
    text-align: center;

}
th{
    border: solid black 2px;
}
/*---------------------------------------------------- */